body {
  overflow-x: hidden;
}

.side-bar-container {
  position: fixed;
  right: 0px;
  margin-right: -100%;
  top: 0;
  width: 400px;
  height: 100vh;
  background-color: $white-color;
  z-index: 9999;
  transition: 300ms ease-in-out;
  @include breakpoint(4kscreen) {
    width: 600px;
  }

  @include breakpoint(mobile) {
    width: 90%;
  }

  .sidebar-sub-item {
    cursor: default;
    position: absolute;
    height: 100vh;
    width: 400px;
    left: -100%;
    overflow-y: auto;
    top: 0;
    z-index: inherit;
    background-color: $white-color;
    -webkit-box-shadow: 0px 1px 14px -5px rgba(0, 0, 0, 0.46);
    -moz-box-shadow: 0px 1px 14px -5px rgba(0, 0, 0, 0.46);
    box-shadow: 0px 1px 14px -5px rgba(0, 0, 0, 0.46);
    animation-name: slide_sidebar_sub;
    animation-duration: 600ms;
    animation-fill-mode: forwards;
    padding: 30px !important;
    @include breakpoint(mobile) {
      padding: 15px 30px !important;
      width: auto;
    }
    @include breakpoint(4kscreen) {
      width: 600px;
    }
    @include breakpoint(Ipad_port) {
      position: static;
      box-shadow: none;
      height: auto;
    }
    @include breakpoint(Ipad_land) {
      position: static;
      box-shadow: none;
      height: auto;
    }

    @media (max-width: 767px) {
      height: fit-content;
      max-height: 410px;
      overflow-y: auto !important;
      position: relative !important;
      left: 0 !important;
      box-shadow: none !important;
    }
    ul {
      list-style-type: none;
      // padding: 0;
      // margin: 0;
      padding-left: 2px;
      > li {
        // display: grid;
        // grid-template-columns: 10px auto;
        // gap: 8px;
        @media (max-width: 767px) {
          position: relative;
        }
        @include breakpoint(4kscreen) {
          gap: 16px;
          padding: 16px;
        }
        > a {
          color: $black-color;
          text-decoration: none;
          font-weight: 400;
          word-break: break-word;
          z-index: 999;
          &:hover {
            color: $primary-color;
          }
          @include breakpoint(mobile) {
            font-size: 13px;
          }
          @include breakpoint(4kscreen) {
            font-size: 30px;
          }
          span {
            align-self: center;
            display: block;
            width: 10px;
            height: 10px;
            background-color: $marker-color-gray;
            border-radius: 100%;
          }
        }

        &:hover {
          .sidebar-sub-item {
            span {
              background-color: $primary-color;
            }
          }
          span {
            background-color: $primary-color;
          }
          a {
            color: $primary-color;
          }
        }
      }
    }
  }
  .items {
    padding: 0;
    margin: 0;
    list-style-type: none;
    // cursor: pointer;
    font-size: 1.2rem;
    height: 95vh;
    overflow-y: scroll;
    // cursor: default;
    @include breakpoint(mobile) {
      font-size: 1rem;
    }
    @include breakpoint(common_device) {
      font-size: 1rem;
    }
    @include breakpoint(Ipad_port) {
      overflow-y: auto;
      height: 100%;
    }
    @include breakpoint(smScreen) {
      font-size: 1rem;
    }
    @include breakpoint(lgScreen) {
      font-size: 1rem;
    }
    @include breakpoint(smLaptop) {
      font-size: 1rem;
    }

    > li {
      display: flex;
      align-items: center;
      gap: 16px;
      padding: 15px 25px !important;
      @media (max-width: 767px) {
        display: block;
        position: relative;
      }
      @include breakpoint(Ipad_land) {
        display: block !important;
        position: relative;
      }
      @include breakpoint(4kscreen) {
        padding: 25px !important;
      }
      .bullet-text-wraper {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        column-gap: 10px;
      }
      .bullet-text-wraper-inner {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        column-gap: 10px;
        span {
          background-color: $marker-color-gray;
        }
      }
      span {
        display: block;
        width: 10px;
        height: 10px;
        background-color: $marker-color-gray;
        border-radius: 100%;
        position: relative;
      }
      &:hover {
        .bullet-text-wraper > span {
          background-color: $primary-color;
        }
      }
      &:hover {
        color: $primary-color;
        // font-weight: 500;
        .header-url {
          color: $primary-color;
        }
      }

      &:hover {
        > .bullet-text-wraper span {
          &:before {
            position: absolute;
            left: -39px;
            top: -6px;
            content: "";
            display: block;
            border-right: 15px solid $primary-color;
            border-top: 15px solid transparent;
            border-bottom: 15px solid transparent;
            z-index: 1;
            background-color: transparent;
            @media (max-width: 1024px) {
              display: none;
            }
          }
        }
      }
    }
    > .sidebar-industries {
      @include breakpoint(Ipad_port) {
        display: block;
      }
      &:hover {
        .sidebar-industries-sub {
          display: block;
        }
      }
      .sidebar-industries-sub {
        display: none;
        &:hover {
          display: block;
        }
      }
    }
    > .sidebar-service {
      list-style-type: none;
      @include breakpoint(Ipad_port) {
        display: block;
      }

      &:hover .sidebar-service-sub {
        display: block;
      }
      .sidebar-service-sub {
        display: none;
        width: 950px;
        left: -950px;
        @media (min-width: 1025px) and (max-width: 1199px) {
          width: 540px;
          left: -540px;
        }
        @media (min-width: 1200px) and (max-width: 1400px) {
          width: 800px;
          left: -800px;
        }
        @include breakpoint(Ipad_port) {
          margin-top: 10px !important;
          height: calc(50vh);
          overflow-y: auto;
          .py-4_5 {
            padding: 1.5rem 0px !important;
          }
        }
        @include breakpoint(Ipad_land) {
          margin-top: 10px !important;
          height: calc(50vh);
          overflow-y: auto;
          .py-4_5 {
            padding: 1.5rem 0px !important;
          }
        }
        @include breakpoint(4kscreen) {
          width: 1400px;
          left: 1400px;
        }
        // @media (max-width: 1200px) {
        //   width: 700px;
        //   left: -700px;
        // }
        @include breakpoint(common_device) {
          width: 100%;
        }
        @include breakpoint(mobile) {
          width: 100%;
        }
        &:hover {
          display: block;
        }
        .py-4_5 {
          padding: 2.5rem 0px;
          @media (max-width: 767px) {
            padding: 0rem 0px;
          }
        }
        h1 {
          color: $black-color;
          padding: 0;
          margin: 0;
          font-size: 1.2rem;
          @include breakpoint(mobile) {
            font-size: 1rem;
          }
          @include breakpoint(common_device) {
            font-size: 1.2rem;
          }
          @include breakpoint(smScreen) {
            font-size: 1.8rem;
          }
          @include breakpoint(lgScreen) {
            font-size: 1.836rem;
          }
          @include breakpoint(smLaptop) {
            font-size: 1.44rem;
          }
          @include breakpoint(lgLaptop) {
            font-size: 1.44rem;
          }

          @include breakpoint(2kscreen) {
            font-size: 1.02rem;
          }
        }
        h2 {
          color: $black-color;
          // font-size: 1rem;
          font-size: 1.2rem;
          font-weight: 600;
          padding-bottom: 8px;
          @include breakpoint(mobile) {
            font-size: 0.97rem;
          }
          @include breakpoint(common_device) {
            font-size: 1rem;
          }

          @media (max-width: 767px) {
            margin-top: 1rem;
          }
        }
        ul {
          list-style-type: none;
          li {
            // display: grid;
            grid-template-columns: 10px auto;
            gap: 8px;
            font-size: 0.87rem;
            line-height: 1.2;
            margin-top: 8px;
            margin-bottom: 8px;
            transition: 250ms;
            word-wrap: break-word;
            word-break: break-all;
            @include breakpoint(4kscreen) {
              font-size: 1.3rem;
            }
            @include breakpoint(Ipad_port) {
              width: 85%;
            }
            cursor: pointer;
            span {
              flex: 0 0 7px;
              display: block;
              align-self: center;
              width: 7px;
              height: 7px;
              background-color: $secondary-color;
              border-radius: 100%;
              transition: 250ms;
            }
            > a {
              color: $black-color;
              text-decoration: none;
            }
            &:hover {
              a {
                color: $primary-color;
              }
              span {
                background-color: $primary-color;
              }
            }
          }
        }
      }
    }
    > .sidebar-technology {
      list-style-type: none;
      &:hover {
        .sidebar-technology-sub {
          display: block;
        }
      }
      .sidebar-technology-sub {
        display: none;
        &:hover {
          display: block;
        }
      }
    }
    > .sidebar-about {
      list-style-type: none;
      &:hover {
        .sidebar-about-sub {
          display: block;
        }
      }
      .sidebar-about-sub {
        display: none;
        &:hover {
          display: block;
        }
      }
    }
    > .sidebar-learning {
      list-style-type: none;
      &:hover {
        .sidebar-learning-sub {
          display: block;
        }
      }
      .sidebar-learning-sub {
        display: none;
        &:hover {
          display: block;
        }
      }
    }
  }
  &__heading {
    display: flex;
    justify-content: flex-end;
    svg {
      width: 40px;
      height: 40px;
      cursor: pointer;
      &:hover {
        color: $primary-color;
      }
    }
  }
  .pointer-decibel {
    pointer-events: none;
  }
}

.research-sec {
  padding: 2rem !important;
  @include breakpoint(mobile) {
    padding: 0.85rem !important;
  }
  @include breakpoint(Ipad_port) {
    padding: 0.85rem !important;
  }
}
.row-sec {
  padding-bottom: 1.5rem;
  @include breakpoint(mobile) {
    padding-bottom: 8px;
  }
  h4 {
    color: $black-color;
    font-weight: 500 !important;
  }
}
.show-sidebar {
  margin-right: 0px;
  -webkit-box-shadow: -10px 0px 8px -8px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -10px 0px 8px -8px rgba(0, 0, 0, 0.2);
  box-shadow: -10px 0px 8px -8px rgba(0, 0, 0, 0.2);
}

.ripple-bullet {
  background: #fefefe;
  display: flex;
  align-items: center;

  &:hover:after {
    content: "";
    width: 50px;
    height: 50px;
    position: absolute;
    // left: 7%;
    left: 3px;
    // top: -50%;
    // transform:
    border-radius: 50%;
    background: rgba(240, 90, 92, 0.3);
    animation: ripples 0.5s ease-in-out;
    animation-fill-mode: forwards;
    // animation-iteration-count: infinite;
    // @include breakpoint(4kscreen) {
    //   left: 4.67%;
    // }
    @media (max-width: 767px) {
      left: 4px;
      top: 1px;
    }
    @include breakpoint(Ipad_port) {
      left: 3px;
      top: 1px;
    }
    @include breakpoint(Ipad_land) {
      left: 3px;
      top: 1px;
    }
    @keyframes ripples {
      0% {
        transform: scale(0);
        opacity: 1;
      }
      100% {
        transform: scale(1);
        opacity: 0;
      }
    }
  }
  @include breakpoint(Ipad_port) {
    position: relative;
  }
  @include breakpoint(Ipad_land) {
    position: relative;
  }
}

.sub-ripple-bullet {
  background: #fefefe;
  display: flex;
  align-items: center;
  position: relative;
  &:hover:after {
    content: "";
    width: 40px;
    height: 40px;
    position: absolute;
    left: -5.62%;
    border-radius: 50%;
    background: rgba(240, 90, 92, 0.3);
    animation: ripples 0.5s ease-in-out;
    animation-fill-mode: forwards;
    @include breakpoint(common_device) {
      left: -16px;
    }
    @include breakpoint(smScreen) {
      left: -16px;
    }
    @include breakpoint(4kscreen) {
      left: -10px;
    }
    @media (max-width: 767px) {
      left: -16px;
    }
    @keyframes ripples {
      0% {
        transform: scale(0);
        opacity: 1;
      }
      100% {
        transform: scale(1);
        opacity: 0;
      }
    }
  }
}
.mobile-riple {
  position: relative;
  // padding-top: 1.1rem !important;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 0 !important;
  cursor: pointer;
  @media (max-width: 767px) {
    padding-top: 1rem !important;
    margin-top: 0 !important;
  }
  &:hover:after {
    left: -20px;
    top: 2px;
    z-index: 1;
    @include breakpoint(4kscreen) {
      top: 20px;
      left: -15px;
    }
    @include breakpoint(2kscreen) {
      top: 11px;
      left: -20px;
    }
  }
}

.active-url {
  color: $primary-color !important;
  > span {
    background-color: $primary-color !important;
  }
  a {
    color: $primary-color !important;
    .bullet-text-wraper-inner {
      > span {
        background-color: $primary-color !important;
      }
    }
  }
}

.data-url {
  text-decoration: none;
  color: $black-color;
  margin-bottom: 0.5rem;
  font-size: 17px;
  font-weight: 500;
  &:hover {
    color: $primary-color;
  }
  @include breakpoint(mobile) {
    font-size: 16px;
  }
}

.default-url {
  span {
    &::before {
      display: none !important;
    }
  }
}

.header-url {
  text-decoration: none;
  height: 100%;
  width: 100%;
  color: $black-color;
  z-index: 999;
  @include breakpoint(4kscreen) {
    font-size: 30px;
  }
}

.hover-click {
  text-decoration: none;
  color: $black-color;
  font-weight: 300;
}

.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: green;
  z-index: 100;
  display: none;
  background-color: rgba(0, 0, 0, 0.3);
}

.sidebar-overlay-show {
  display: block;
}

.mobile-margin-top {
  @include breakpoint(mobile) {
    margin-top: 3rem;
  }
}
