
* {box-sizing: border-box;}


.dots {display: none !important;}

button.auto-control {display: none;}
.slider {
	position: relative;
    height: 440px;
    width:500px;
    border: solid 1px #d5d5d5;
    padding: 15px;
    border-radius: 3px;
    box-shadow: -6px 6px 0px #e7e6e6;
}
.slider-content {
	position: relative;
    width: 100%;
    overflow: hidden;
}
.slider-content-wrapper {
	height:406px;
	transition: transform 0.5s ease-in-out;
	
}
.slider-content__item {
	flex: 1 0 100%;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	color: rgba(0,0,0,0.2);
	align-items: center;
	justify-content: center;
}
.slider-controls {
	padding:0px;
    text-align: center;
    position: absolute;
    top: 0;
    right:-115px;
    z-index: 999;
    width: auto;
	height: 100%;
}
.slider-content__controls {
	display: none;
	position:absolute;
	top:0;left:0;
	width: 100%;
	height: 100%;
	z-index:1;
	/*transform: translateY(-50%);*/
	/*padding:0 15px;*/
}
/* Arrows */
.prev-arrow, .next-arrow {
	position:absolute;
	top:50%;
	transform: translateY(-50%);
	cursor: pointer;
	color:rgba(0,0,0, 0.3);
	width: 60px;
	transition: all 0.3s;
}
.prev-arrow {left: 20px;}
.next-arrow {right: 20px;}

.prev-arrow:hover,
.next-arrow:hover {
	cursor: pointer;
	color:rgba(0,0,0, 0.7);
}
/* Dots */
.dots {
	position:absolute;
	display: flex;
	left:50%;
	transform: translateX(-50%);
	bottom:10%;
}
.dot {
	cursor: pointer;
	width: 8px;
	height: 8px;
	margin-right: 4px;
	background-color: rgba(0,0,0, 0.3);
	/*box-shadow: 0 0 5px 0px rgba(0,0,0,0.9);*/
	border-radius: 50%;
	transition:all 0.3s;
}

.dot:last-child {margin-right: 0;}
.dot:hover {background-color: #fff;}
.dot--active {background-color: rgba(255,255,255, 0.5);}

/* Buttons */
button {
	cursor: pointer;
	margin-right: 8px;
	border:none;
	border-radius: 4px;
	padding:10px;
	background-color: #3066BE;
	color:#FFF;
	transition: all 0.5s;
}
button:last-child {margin-right: 0;}
button:hover {background-color: #60AFFF;}
button:focus {outline: none;}

/* Mods */
.disabled {
	/* background-color: #DCCFCF;
	color:#B0A8A8; */
	cursor: default;
	pointer-events:none;
	opacity:0.3;
}
.slider-controls .next-control, .slider-controls .prev-control {cursor: pointer;}
.slider-controls .next-control {
    position: absolute;
    bottom: 0;
    right: 0;
}
.d-none {display: none;}
.active {opacity: 1;}
.centered {
	position:relative;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);	
}
.slide_img {width: 100%;height: 331px;background-repeat: no-repeat;background-size: cover;background-position: center;}