.data-visualization {
  .box-shadow {
    background-color: $white-color;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.0784313725);
    padding: 38px 40px;
    margin-bottom: 25px;
    h6 {
      margin-bottom: 15px;
    }
  }

  .border-radious {
    border-radius: 10px;
  }
}
