.ask-ques {
  text-align: center;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
  @include breakpoint(mobile) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  @include breakpoint(common_device) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  @media (min-width: 1025px) and (max-width: 1800px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  @include breakpoint(4kscreen) {
    padding: 9rem 0;
  }
  .sub-heading {
    width: 68%;
    margin: 0 auto;
    @include breakpoint(mobile) {
      width: 100%;
    }
    @include breakpoint(common_device) {
      width: 88%;
    }
    @media (min-width: 1025px) and (max-width: 1094px) {
      width: 88%;
    }
    @media (min-width: 1095px) and (max-width: 1800px) {
      width: 88%;
    }
  }
}

.get-started-btn {
  box-shadow: 0px 0px 6px #00000029;
  margin-top: 2rem;
  position: relative;
  border-radius: 4px;
  padding: 1rem 2rem;
  border: none;
  // font-size: 1.044rem;
  transition: 0.4s ease;
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255) 0%,
    rgb(255, 255, 255) 100%
  );
  color: $black-color;
  z-index: 1;
  overflow: hidden;
  @include breakpoint(mobile) {
    padding: 0.5rem 1rem;
    font-size: 13px;
    margin-top: 1rem;
  }
  @media (min-width: 1025px) and (max-width: 1094px) {
    padding: 0.85rem 1rem;
    font-size: 12px;
  }
  @include breakpoint(4kscreen) {
    font-size: 25px;
  }

  &:before {
    top: 0;
    right: 50%;
    bottom: 0;
    left: 50%;
    background: linear-gradient(to right, #8b8b8b, #f05a5c);
    transition: 0.3s ease;
    content: "";
    position: absolute;
    z-index: -1;
    @media (min-width: 1025px) and (max-width: 1094px) {
      width: 0;
    }
    @include breakpoint(2kscreen) {
      width: 0;
    }
    @include breakpoint(4kscreen) {
      width: 0;
    }
  }

  &:after {
    background: linear-gradient(to right, #8b8b8b, #f05a5c);
    transition: 0.3s ease;
    content: "";
    position: absolute;
    z-index: -1;
  }

  &:hover {
    color: $white-color;

    &:before {
      right: 0;
      left: 0;
    }
  }
}
