* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.transcript-data {
  height: 66px;
  width: 50%;
  border: 1px solid;
  margin: 50px auto;
  overflow: auto;
}
svg {
  /* height: 100%; */
  width: 100%;
}
.tool-details-container {
  width: 90%;
  margin: 30px auto;
  border: 10px solid #616161;
  border-radius: 24px;
  position: relative;
  max-width: 1024px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 24px 43px;
  overflow: hidden;
}
.video_container {
  position: relative;
}
.video_container video {
  width: 100%;
  /* height: 672px; */
  object-fit: cover;
  aspect-ratio: 3/2;
  border-radius: 13px 13px 0 0;
  /* border-radius: 13px; */
}
#recorded {
  display: none;
}
.blurback {
  filter: blur(5px);
  -webkit-filter: blur(5px);
}
.start-button {
  height: 115px;
  width: 115px;
  border-radius: 50%;
  background-color: #fb6565;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: absolute;
  z-index: 2;
  cursor: pointer;
  font-size: 14px;
}
/* icon */
.button-icon {
  scale: 1;
  transform: translate(0px, 13px);
  transition: all 0.4s;
}
.button-text {
  /* transform: translateY(13px); */
  scale: 0;
  transition: 0.4s;
}
.start-button:hover .button-text {
  scale: 1;
  transform: translateY(4px);
}

.start-button:hover .button-icon {
  transform: translate(0px, 0px);
  scale: 1;
}

/* Animation */
.pulseAnimation {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 80px;
  width: 80px;
  background-color: #fb6565;
  border-radius: 50%;
  display: grid;
  place-items: center;
  animation: ripple 0.6s linear infinite;
}
/* .pulseAnimation:before,
.pulseAnimation:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #fb6565;
  border-radius: 50%;
  z-index: 1;
  opacity: 0.3;
}
.pulseAnimation:before {
  animation: pulse 2s ease-out infinite;
}
.pulseAnimation:after {
  animation: pulse 2s 1s ease-out infinite;
}
@keyframes pulse {
  100% {
    transform: scale(3.5);
    opacity: 0;
  }
} */

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(251, 101, 101, 0.1),
      0 0 0 20px rgba(251, 101, 101, 0.1), 0 0 0 40px rgba(251, 101, 101, 0.1),
      0 0 0 60px rgba(251, 101, 101, 0.1);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(251, 101, 101, 0.1),
      0 0 0 40px rgba(251, 101, 101, 0.1), 0 0 0 60px rgba(251, 101, 101, 0.1),
      0 0 0 60px rgba(251, 101, 101, 0);
  }
}
/* @keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 128, 0, 0.1), 0 0 0 20px rgba(0, 128, 0, 0.1),
      0 0 0 40px rgba(0, 128, 0, 0.1), 0 0 0 60px rgba(0, 128, 0, 0.1);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(0, 128, 0, 0.1), 0 0 0 40px rgba(0, 128, 0, 0.1),
      0 0 0 60px rgba(0, 128, 0, 0.1), 0 0 0 80px rgba(0, 128, 0, 0);
  }
} */
/* rgb(251 101 101) */

.hide-container {
  display: none !important;
}
.bottom-base {
  height: 50px;
  width: 100%;
  border-radius: 0 0 10px 10px;
  background-color: #e6e6e6;
  position: relative;
  z-index: 4;
  margin-top: -4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.userText {
  font-size: 18px;
  font-weight: bold;
}
.custom-loader-container1 {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
}
/* .custom-loader1 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: conic-gradient(#0000 5%, #f43030);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 5px), #000 0);
  animation: s4 1s infinite linear;
}
@keyframes s4 {
  to {
    transform: rotate(1turn);
  }
} */
.custom-loader1 {
  width: 48px;
  height: 48px;
  border: 3px solid #000;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.custom-loader1::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid;
  border-color: #ff3d00 transparent;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.camera-permission-con {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  padding: 60px;
  flex-direction: column;
  row-gap: 38px;
  top: 0;
  left: 0;
  border-radius: 10px;
}
.retryBtn {
  height: 30px;
  width: 86px;
  background-color: #f15a5c;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}
.retryBtn:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.first-time-active {
  display: none;
}
.hoverHide {
  display: none !important;
}
.tool-details-container:hover .start-recordingAnimation {
  display: grid;
}
.tool-details-container:hover .stop-recordingAnimation {
  display: grid;
}
.recording-time-frame {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.cus-arrow {
  border: 2px solid #090909;
  height: 80px;
  width: 80px;
  border-bottom: none;
  border-right: none;
  position: absolute;
}
.top-left-arrow {
  top: 15px;
  left: 15px;
}
.bottom-right-arrow {
  bottom: 40px;
  left: 15px;
  transform: rotate(-90deg);
}
.top-right-arrow {
  right: 15px;
  top: 15px;
  transform: rotate(90deg);
}
.bottom-left-arrow {
  bottom: 40px;
  right: 15px;
  transform: rotate(-180deg);
}
.recording-text {
  position: absolute;
  color: #ff0000;
  font-weight: 600;
  display: flex;
  align-items: center;
  column-gap: 5px;
  top: 30px;
  left: 30px;
}
.readyState {
  animation: blinker 0.5s cubic-bezier(0.5, 0, 1, 1) infinite alternate;
}
.recording-dot {
  display: block;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #ff0000;
}

@keyframes blinker {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.endedautomatic {
  /* margin-bottom: 19px; */
  color: red;
  position: relative;
  top: -20px;
  font-size: 18px;
  font-weight: 700;
}
.progress-Bg {
  height: 32px;
  width: 100%;
  position: absolute;
  bottom: 50px;
  background-color: #afafafa3;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  padding: 0 30px;
}
.cs-progress {
  height: 6px;
  background-color: #ffffff;
  width: 100%;
  position: relative;
  border-radius: 4px;
}
.progress-fill {
  height: 100%;
  width: 0%;
  background-color: #2b9f3a;
  border-radius: 4px;
}
.p-indicator {
  background: #2b9f3a;
  height: 20px;
  width: 21px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1px;
  padding-right: 1px;
  color: #fff;
  position: absolute;
  left: 10%;
  font-size: 12px;
  margin-left: -14px;
  top: -7px;
}
/* .counting {
  text-align: center;
  font-size: 22px;
  left: 25px;
  bottom: 50px;
  position: absolute;
  background-color: #ffffffbd;
  padding: 4px 15px;
  border-radius: 27px;
} */
.counting {
  text-align: center;
  font-size: 14px;
  left: 50%;
  bottom: 43px;
  position: absolute;
  background-color: #ffffff8f;
  padding: 4px 8px;
  border-radius: 27px;
  transform: translate(-50%, -0%);
}
.all-action-buton {
  position: absolute;
  top: 0;
  left: 100%;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000b3;
  z-index: 1;
  border-radius: 13px 13px 0 0;
  /* filter: blur(8px);
  -webkit-filter: blur(8px); */
  flex-direction: column;
}
.action-buton {
  height: 126px;
  width: 126px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.all-action-button-container {
  width: 419px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
}
.action-button-text {
  text-align: center;
  display: block;
  width: 72px;
  scale: 0;
  /* margin-top: 10px; */
  transform: translateY(0px);
  font-size: 14px;
  transition: all 0.4s;
  opacity: 0;
}
.action-button-icon {
  /* scale: 1; */
  transform: translateY(20px);
  transition: all 0.4s;
}
.action-buton {
  scale: 0;
}
.action-buton:hover {
  background-color: #fb6565;
  color: #a50c0c;
  box-shadow: 0px 6px 18px #000000a6;
}
.action-buton:hover .action-button-icon {
  scale: 0.8;
  transform: translateY(0px);
}
.action-buton:hover .action-button-text {
  scale: 1;
  opacity: 1;
  transform: translateY(-4px);
  /* margin-top: -2px; */
}
.action-buton:hover .play-button-text {
  scale: 1;
  opacity: 1;
  transform: translateY(-15px);
}

.action-buton:hover .action-button-icon svg path {
  stroke: #fff;
  /* fill: #fff; */
}

.action-buton:hover .play-button-con svg path {
  stroke: #fff;
  fill: #fff;
}
.action-buton:hover .play-button-con svg circle {
  stroke: rgb(251, 101, 101);
  fill: rgb(255, 255, 255);
}
.action-buton:hover .play-button-con svg #Polygon_1 {
  stroke: rgb(251, 101, 101);
  fill: rgb(251, 101, 101);
}
.action-buton:hover .re-record-butto-icon svg path {
  stroke: #fff;
  fill: #fff;
}
/* pop animation */
.animation-button1 {
  animation: identifier 0.2s ease-in-out forwards;
  animation-delay: 0.2s;
}
.animation-button2 {
  animation: identifier 0.2s ease-in-out forwards;
  animation-delay: 0.4s;
}
.animation-button3 {
  animation: identifier 0.2s ease-in-out forwards;
  animation-delay: 0.6s;
}
.animation-button4 {
  animation: identifier 0.2s ease-in-out forwards;
  animation-delay: 0.8s;
}
@keyframes identifier {
  0% {
    scale: 0;
  }
  50% {
    scale: 1.3;
  }
  80% {
    scale: 0.8;
  }
  100% {
    scale: 1;
  }
}
/* upload loading  animation*/
.upload-loading {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 4;
  background-color: #212121b8;
  border-radius: 13px 13px 0 0;
}
.upload-loader-animation {
  width: 175px;
  height: 80px;
  display: block;
  margin: auto;
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyBpZD0iTGF5ZXJfMiIgZGF0YS1uYW1lPSJMYXllciAyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMDMuNSAxOTYuNDYiPgogIDxkZWZzPgogICAgPHN0eWxlPgogICAgICAuY2xzLTEgewogICAgICAgIGZpbGw6ICNmZmY7CiAgICAgICAgc3Ryb2tlLXdpZHRoOiAwcHg7CiAgICAgIH0KICAgIDwvc3R5bGU+CiAgPC9kZWZzPgogIDxnIGlkPSJMYXllcl8xLTIiIGRhdGEtbmFtZT0iTGF5ZXIgMSI+CiAgICA8cGF0aCBjbGFzcz0iY2xzLTEiIGQ9Im0zMDMuNSwxMzQuMjFjMCwzMS40MS0yMy4yNiw1Ny4zOS01My41LDYxLjYzLTIuODYuNDEtNS43OC42Mi04Ljc1LjYySDU0LjQyYy0xLjU3LDAtMy4xMy0uMDctNC42Ny0uMkMyMS44OCwxOTMuOSwwLDE3MC41MywwLDE0Mi4wNGMwLTI2LjMsMTguNjYtNDguMjQsNDMuNDYtNTMuMzFDNDguMjMsMzguOTQsOTAuMTksMCwxNDEuMjMsMGM0NS4yMywwLDgzLjMyLDMwLjU3LDk0LjczLDcyLjE4LDEuNzQtLjE1LDMuNTEtLjIyLDUuMjktLjIyLDM0LjM4LDAsNjIuMjUsMjcuODcsNjIuMjUsNjIuMjVaIi8+CiAgPC9nPgo8L3N2Zz4=");
  /* background-image: radial-gradient(
      circle 25px at 25px 25px,
      #fff 100%,
      transparent 0
    ),
    radial-gradient(circle 50px at 50px 50px, #fff 100%, transparent 0),
    radial-gradient(circle 25px at 25px 25px, #fff 100%, transparent 0),
    linear-gradient(#fff 50px, transparent 0);
  background-size: 50px 50px, 100px 76px, 50px 50px, 120px 40px;
  background-position: 0px 30px, 37px 0px, 122px 30px, 25px 40px; */
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  box-sizing: border-box;
  background-size: 113px;
}
.upload-loader-animation::after {
  content: "";
  left: 50%;
  bottom: 30px;
  transform: translate(-50%, 0);
  position: absolute;
  border: 15px solid transparent;
  border-bottom-color: #ff3d00;
  box-sizing: border-box;
  animation: fadePull 1s linear infinite;
}
.upload-loader-animation::before {
  content: "";
  left: 50%;
  bottom: 15px;
  transform: translate(-50%, 0);
  position: absolute;
  width: 15px;
  height: 15px;
  background: #ff3d00;
  box-sizing: border-box;
  animation: fadePull 1s linear infinite;
}

@keyframes fadePull {
  0% {
    transform: translate(-50%, 15px);
    opacity: 0;
  }
  50% {
    transform: translate(-50%, 0px);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -15px);
    opacity: 0;
  }
}
span.uploading-text {
  color: #fff;
  position: relative;
  top: 89px;
  left: 48px;
}
.play-pause-container {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.back-button {
  width: 28px;
  height: 28px;
  color: #f15a5c;
  padding: 2px;
  cursor: pointer;
  border-radius: 4px;
  position: absolute;
  /* left: 10px;
  top: 13px; */
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #f15a5c;
  border-radius: 50%;
}
.back-button svg {
  height: 100%;
  width: 16px;
}
.back-button:hover {
}

.play-pause-button {
  cursor: pointer;
  margin: 0;

  border-radius: 50%;
  display: flex;
}
.back-button:hover svg path {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  /* background-color: #f15a5c;
  color: #ffffff; */
  fill: #f15a5c;
}
.play-pause-button svg {
  width: 30px;
  height: 30px;
}
.end-message {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 14px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #000;
  z-index: 10;
  pointer-events: none;
}
.server-errorMessage {
  height: 36px;
  width: 50%;
  background-color: #fff;
  color: #f15a5c;
  font-size: 18px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .tool-details-container {
    width: 95%;
  }
  .start-button {
    height: 60px;
    width: 60px;
  }
  .button-icon {
    scale: 0.7;
    transform: translate(0px, 13px);
    transition: all 0.4s;
  }
  .button-text {
    font-size: 10px;
  }
  .start-recording .button-icon {
    scale: 0.6;
    transform: translate(0px, 17px);
    transition: all 0.4s;
  }
  .start-button:hover .button-icon {
    transform: translate(0px, -6px);
    scale: 0.6;
  }
  .start-button:hover .button-text {
    scale: 1;
    transform: translateY(-8px);
  }
  .cus-arrow {
    height: 30px;
    width: 30px;
  }
  .top-left-arrow {
    top: 8px;
    left: 8px;
  }
  .bottom-right-arrow {
    bottom: 35px;
    left: 8px;
  }
  .bottom-left-arrow {
    bottom: 35px;
    right: 8px;
    transform: rotate(-180deg);
  }
  .top-right-arrow {
    right: 8px;
    top: 8px;
  }
  .recording-text {
    font-weight: 600;
    top: 13px;
    left: 18px;

    font-size: 10px;
  }
  .recording-dot {
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #ff0000;
  }
  .counting {
    bottom: 33px;
    font-size: 10px;
    padding: 2px 5px;
  }
  .bottom-base {
    height: 34px;
    width: 100%;
    margin-top: -4px;
  }
  .userText {
    font-size: 12px;
    font-weight: 600;
  }
  .progress-Bg {
    height: 26px;
    bottom: 34px;
  }
  .p-indicator {
    height: 13px;
    width: 13px;

    padding-bottom: 2px;
    padding-right: 0px;

    left: 10%;
    font-size: 10px;
    margin-left: -6px;
    top: -4px;
  }
  .action-buton {
    height: 70px;
    width: 70px;
  }
  .all-action-button-container {
    width: 216px;
    gap: 8px;
  }
  .action-button-icon {
    scale: 0.6;
    transform: translateY(20px);
    transition: all 0.4s;
  }
  .action-button-text {
    scale: 0;
    font-size: 10px;
  }
  .action-buton:hover .action-button-icon {
    scale: 0.5;
    transform: translateY(0px);
  }
  .action-buton:hover .action-button-text {
    scale: 1;
    transform: translateY(-10px);
  }
  .action-buton:hover .play-button-text {
    scale: 1;
    transform: translateY(-19px);
  }
  .action-button-text {
    width: 57px;
    line-height: 1;
  }
  .re-record-butto-icon {
    /* margin-bottom: 10px; */
  }
  .back-button {
    /* width: 57px; */

    top: 3px;
  }
  /* .pulseAnimation {
    top: 40%;
  } */
  @keyframes pulse {
    100% {
      transform: scale(1.5);
      opacity: 0;
    }
  }
  .upload-loader-animation {
    width: 175px;
    height: 80px;
    background-size: 92px;
  }
  .server-errorMessage {
    height: 23px;
    width: 50%;
    font-size: 10px;
    margin-top: 5px;
  }
  .pulseAnimation {
    height: 60px;
    width: 60px;

    animation: ripple 0.6s linear infinite;
  }
  @keyframes ripple {
    0% {
      box-shadow: 0 0 0 0 rgba(251, 101, 101, 0.1),
        0 0 0 20px rgba(251, 101, 101, 0.1), 0 0 0 30px rgba(251, 101, 101, 0.1),
        0 0 0 40px rgba(251, 101, 101, 0.1);
    }
    100% {
      box-shadow: 0 0 0 20px rgba(251, 101, 101, 0.1),
        0 0 0 30px rgba(251, 101, 101, 0.1), 0 0 0 40px rgba(251, 101, 101, 0.1),
        0 0 0 50px rgba(251, 101, 101, 0);
    }
  }
  .endedautomatic {
    /* margin-bottom: 19px; */
    color: red;
    position: relative;
    top: -13px;
    font-size: 13px;
    font-weight: 700;
  }
}
@media screen and (min-width: 481px) and (max-width: 767px) {
  .tool-details-container {
    width: 95%;
  }
  .start-button {
    height: 95px;
    width: 95px;
  }
  .button-icon {
    scale: 0.8;
    transform: translate(0px, 14px);
    transition: all 0.4s;
  }
  .start-recording .button-icon {
    scale: 0.8;
    transform: translate(0px, 17px);
    transition: all 0.4s;
  }
  .start-button:hover .button-icon {
    transform: translate(0px, -6px);
    scale: 0.8;
  }
  .cus-arrow {
    height: 50px;
    width: 50px;
  }
  .counting {
    bottom: 38px;
  }
  .bottom-base {
    height: 34px;
    width: 100%;
    margin-top: -4px;
  }
  .userText {
    font-size: 16px;
    font-weight: 600;
  }
  .progress-Bg {
    height: 26px;
    bottom: 34px;
  }
  .p-indicator {
    height: 20px;
    width: 20px;

    padding-bottom: 2px;
    padding-right: 0px;

    left: 10%;
    font-size: 10px;
    margin-left: -10px;
    top: -7px;
  }
  .action-buton {
    height: 95px;
    width: 95px;
  }
  .all-action-button-container {
    width: 299px;
    gap: 8px;
  }
  .action-button-icon {
    scale: 0.8;
    transform: translateY(20px);
    transition: all 0.4s;
  }
  .action-button-text {
    scale: 0;
    font-size: 12px;
  }
  .action-buton:hover .action-button-icon {
    scale: 0.6;
    transform: translateY(0px);
  }
  .action-buton:hover .action-button-text {
    scale: 1;
    transform: translateY(-6px);
  }
  .action-buton:hover .play-button-text {
    scale: 1;
    transform: translateY(-17px);
  }
  .back-button {
    /* width: 57px; */

    top: 3px;
  }
  @keyframes pulse {
    100% {
      transform: scale(2.5);
      opacity: 0;
    }
  }
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
  .tool-details-container {
    max-width: 800px;
  }
}
@media screen and (min-width: 1281px) and (max-width: 1536px) {
  .tool-details-container {
    max-width: 800px;
  }
}
