* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.tool-container {
  width: 100%;
  margin: 0 auto;
  height: 500px;
  background: #ffffff;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  border: 10px solid #f2f2f2;
  border-radius: 10px;
  overflow: hidden;
}

.genieimgBlock {
  width: 140px;
  height: 300px;
  position: relative;
  right: 0px;
  float: right;
  top: 18vh;
  transition: right 0.2s ease-out;
  overflow: hidden;
}

.genieimgBlock img {
  max-width: 100%;
}
#audio {
  visibility: hidden;
}

.onOffBtn {
  width: 90px;
  height: 50px;
  position: relative;
  right: 0px;
  top: 3vh;
  text-align: center;
  font-family: arial;
  font-size: 12px;
  float: right;
}

.onOffBtn span {
  font-size: 14px;
  font-weight: 600;
  display: inherit;
  text-align: center;
  line-height: 28px;
  color: #9d9d9d;
}

.genie-btn-off {
  display: inline-block;
  text-decoration: none;
  background: #ff8181;
  color: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
  vertical-align: middle;
  overflow: hidden;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #bd6565;
  cursor: pointer;
  transition: 0.4s;
  border: 0;
}

.genie-btn-off:active {
  -ms-transform: translateY(2px);
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  border-bottom: none;
}

.genie-btn-off:focus {
  outline: none;
}

.header-nav {
  /* display: inline-block; */
  display: none;
  width: 100%;
}

.back-nav {
  float: right;
  cursor: pointer;
}

.back-nav a {
  text-decoration: none;
  color: #6d5f24;
}

.back-nav {
  display: inline-block;
  border: 1px solid #c9ae34;
  color: #705d07;
  border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  font-size: 14px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-family: calibri;
  padding: 10px 20px;
  margin: 10px;
  box-shadow: inset 0 1px 0 0 #fff6ce, inset 0 -1px 0 0 #e3c852,
    inset 0 0 0 1px #fce88d, 0 2px 4px 0 #d4d4d4;
  -moz-box-shadow: inset 0 1px 0 0 #fff6ce, inset 0 -1px 0 0 #e3c852,
    inset 0 0 0 1px #fce88d, 0 2px 4px 0 #d4d4d4;
  -webkit-box-shadow: inset 0 1px 0 0 #fff6ce, inset 0 -1px 0 0 #e3c852,
    inset 0 0 0 1px #fce88d, 0 2px 4px 0 #d4d4d4;
  background-image: linear-gradient(to top, #fce374, #fcdf5b);
  background-color: #fce374;
}

.back-nav:hover,
.back-nav:active {
  border: 1px solid #967d09;
  color: #705d07;
  box-shadow: inset 0 1px 0 0 #fff6ce, inset 0 -1px 0 0 #e3c852,
    inset 0 0 0 1px #fce88d;
  -moz-box-shadow: inset 0 1px 0 0 #fff6ce, inset 0 -1px 0 0 #e3c852,
    inset 0 0 0 1px #fce88d;
  -webkit-box-shadow: inset 0 1px 0 0 #fff6ce, inset 0 -1px 0 0 #e3c852,
    inset 0 0 0 1px #fce88d;
  background-color: #fcdf5b;
}

.title-toll {
  width: 98%;
  font-family: Arial;
  text-align: left;
  font-size: 16px;
  border-radius: 4px;
  padding: 12px;
  background: #fbfbfb;
  font-weight: bold;
  border-bottom: 1px solid #efefef;
  box-shadow: 0 4px 5px rgba(152, 152, 152, 0.1);
  margin-bottom: 25px;
  color: #999;
  line-height: 24px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .tool-container {
    width: 100%;
  }
  .onOffBtn {
    width: 35%;
  }
  .genieimgBlock {
    top: 24vh;
  }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  .tool-container {
    width: 80%;
  }
  .onOffBtn {
    width: 20%;
  }
  .genieimgBlock {
    top: 34vh;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .tool-container {
    width: 50%;
  }
  .onOffBtn {
    width: 30%;
  }
  .genieimgBlock {
    top: 16vh;
  }
}
