@mixin breakpoint($point) {
  @if $point ==mobile {
    @media (min-width: 320px) and (max-width: 767px) {
      @content;
    }
  }
  @else if $point ==mobile_land {
    @media (min-width: 480px) and (max-width: 767px) and (orientation: landscape) {
      @content;
    }
  } @else if $point ==common_device {
    @media (min-width: 768px) and (max-width: 1024px) {
      @content;
    }
  } @else if $point ==Ipad_port {
    @media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
      @content;
    }
  } @else if $point ==Ipad_land {
    // @media (min-width: 768px) and (max-width: 1024px) {
    @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
      @content;
    }
  } @else if $point ==smScreen {
    @media (min-width: 1095px) and (max-width: 1280px) {
      @content;
    }
  } @else if $point ==lgScreen {
    @media (min-width: 1281px) and (max-width: 1365px) {
      @content;
    }
  } @else if $point ==smLaptop {
    @media (min-width: 1366px) and (max-width: 1400px) {
      @content;
    }
  } @else if $point ==lgLaptop {
    @media (min-width: 1401px) and (max-width: 1600px) {
      @content;
    }
  } @else if $point ==lgLarge {
    @media (min-width: 1601px) and (max-width: 1920px) {
      @content;
    }
  } @else if $point ==2kscreen {
    @media (min-width: 1921px) and (max-width: 3000px) {
      @content;
    }
  } @else if $point ==4kscreen {
    @media (min-width: 3001px) and (max-width: 4000px) {
      @content;
    }
  }
}
