.no-found {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
  text-align: center;

  h1 {
    // font-size: 8rem;
    color: $primary-color;
  }

  p {
    // font-size: 1.5rem;
    color: #333;
    margin: 20px 0;
  }

  .home-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    color: $white-color;
    background-color: $primary-color;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
  }

  .home-button:hover {
    background-color: $primary-color;
  }
}
