$primary-color: #f05a5c;
$secondary-color: #8b8b8b;
$marker-color-gray: #a0a0a0;
$gray-background: #f7f7f7;
$subhedding: #808080;
$border-color: #adadad;
$border-color-light: #dddddd;
$border-color-lighter: #e4eaed;

$hovercolor: #4a4a4a;

$footer-Color: #f0f0f0;
$footer-hedding: #4b4b4b;
$border-footer: #e0e0e0;

$black-color: #000000;
$white-color: #ffffff;

$service-border-color: #393939;
$red-color: red;

$breadcrumb-link-color: #707070;
$border-bottom: #e6e6e6;

$data-nav-bg-color: #eeeeee;
$data-nav-font-color: #444444;
$data-nav-active-font: #f15a5c;
$data-nav-active-bg: #ffe8e8;
