.search-list-container {
  .search-query {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .search-list-title {
    .search-link {
      font-size: 18px;
      color: #000000;
      font-weight: 500;
      text-decoration: none;
      word-break: break-word;
    }
    padding: 5px 0;
  }
  .search-list-link {
    .search-link {
      font-size: 14px;
      color: #000000;
      font-weight: 400;
      text-decoration: none;
      word-break: break-all;
    }
  }
  .search-description {
    margin: 20px 0;
  }
  .no-data-found-title {
    font-size: 18px;
    color: #000000;
    font-weight: 500;
  }
  .no-data-found-description {
    font-size: 16px;
    color: #000000;
    font-weight: 400;
  }
  .pagination-con {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 20px;
    .next-btn {
      margin-left: 5px;
    }
    .back-btn {
      margin-right: 5px;
    }
    .action-btn {
      padding: 5px 15px;
      border: 1px solid #c0c0c0;
      color: #000;
      &:hover {
        background-color: #f05a5c;
        border: 1px solid #e76466;
        color: #fff;
      }
    }
    .number-btn {
      margin: 0 5px;
    }
    .active-btn {
      background-color: #adadad;
      color: #fff;
    }
  }
  .search-link-hover {
    &:hover {
      color: #f05a5c;
    }
  }
  .hide-button {
    display: none;
  }
}
