body,
html {
    font-family: Cambria, Hoefler Text, Liberation Serif, Times, Times New Roman, serif;
    font-size: 18px
}
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	
	}
body{font-family:arial;}
.clearfix:before,
.clearfix:after {
    content: "";
    display: table
}

.table-responsive {
    width: 100% !important;
}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
}

.respondent-info {
    padding: 10px 15px;
    color: #999;
    font-size: 14px;
    border: 1px solid #dedede;
    margin: 0 auto 15px;
    background: #f5f5f5;
    width:80%;
}
.output-info {
    padding: 10px 15px;
    color: #999;
    font-size: 14px;
    border: 1px solid #dedede;
    margin: 30px auto 15px;
    background: #f5f5f5;
    width:80%;
}
.title-toll {
    width: 100%;
    font-family: Arial;
    text-align: left;
    font-size: 16px;
    border-radius: 4px;
    padding: 12px;
    background: #fbfbfb;
    font-weight: bold;
    border-bottom: 1px solid #efefef;
    box-shadow: 0 4px 5px rgba(152, 152, 152, 0.1);
    margin-bottom: 25px;
    color: #999;
}

@media screen and (max-width: 767px) {
    .table-responsive>.table>thead>tr>th,
    .table-responsive>.table>tbody>tr>th,
    .table-responsive>.table>tfoot>tr>th,
    .table-responsive>.table>thead>tr>td,
    .table-responsive>.table>tbody>tr>td,
    .table-responsive>.table>tfoot>tr>td {
        white-space: pre-wrap !important;
    }
}

.click-val {
    border-top: 1px solid #a2bf03 !important;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
}

table {
    background-color: transparent;
}

th {
    text-align: left;
}

.table {
    width: 80%;
    margin-bottom: 20px;
    margin: 0 auto;
}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
}

.table>thead>tr>th {
    vertical-align: bottom;
}

.table>caption+thead>tr:first-child>th,
.table>colgroup+thead>tr:first-child>th,
.table>thead:first-child>tr:first-child>th,
.table>caption+thead>tr:first-child>td,
.table>colgroup+thead>tr:first-child>td,
.table>thead:first-child>tr:first-child>td {
    border-top: 0;
}

.table .table {
    background-color: #ffffff;
}

.table-condensed>thead>tr>th,
.table-condensed>tbody>tr>th,
.table-condensed>tfoot>tr>th,
.table-condensed>thead>tr>td,
.table-condensed>tbody>tr>td,
.table-condensed>tfoot>tr>td {
    padding: 5px
}

.table-bordered {
    border: 1px solid #dddddd;
}

.table-bordered>thead>tr>th,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>tbody>tr>td,
.table-bordered>tfoot>tr>td {
    border: 1px solid #dddddd
}

.table-bordered>thead>tr>th,
.table-bordered>thead>tr>td {
    border-bottom-width: 2px;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

.table-hover>tbody>tr:hover {
    background-color: #f5f5f5;
}

table col[class*="col-"] {
    position: static;
    float: none;
    display: table-column;
}

table td[class*="col-"],
table th[class*="col-"] {
    position: static;
    float: none;
    display: table-cell;
}

.table-responsive {
    overflow-x: auto;
    min-height: 0.01%;
}
tr.strow > td:first-child {
    background: #f1f1f1;
    color: #5a5a5a;
    border-bottom: 1px solid #d2d2d2;
    text-align: center;
}

table tbody{
    border: 1px solid #eaeaea;
}

@media screen and (max-width: 767px) {
    .table-responsive {
		width: 95% !important;
		margin-bottom: 15px;
		margin: 0px auto;
		overflow-y: hidden;
		-ms-overflow-style: -ms-autohiding-scrollbar;
		/*border: 1px solid #dddddd;*/
	}
	.table {
		width: 95%;
		margin-bottom: 61px;
		margin: 0 auto;
	}
	 .strow > td:first-child{
		width:35%;
		font-size: 14px;
	}
	.click-val{
		width:55px;
		
	}
	.respondent-info {
    padding: 10px 15px;
    color: #999;
    font-size: 14px;
    border: 1px solid #dedede;
    margin: 0 auto 15px;
    background: #f5f5f5;
    width: 95%;
	}	 
	.output-info {
    padding: 10px 15px;
    color: #999;
    font-size: 14px;
    border: 1px solid #dedede;
    margin: 30px auto 15px;
    background: #f5f5f5;
    width: 95%;
	}

}

.table.rating-no>thead>tr>th,
.table.rating-no>tbody>tr>th,
.table.rating-no>tfoot>tr>th,
.table.rating-no>thead>tr>td,
.table.rating-no>tbody>tr>td,
.table.rating-no>tfoot>tr>td {
    padding: 3px;
}

.rating-btn,
.click-val,
.noval-btn {
    cursor: pointer;
    text-align: center;
    width: 50px;
}

.rating-btn {
    border-left: solid 1px #eaeaea;
}

.click-val {
    border: solid 1px #eaeaea !important;
}

.noval-btn {
    border: solid 1px #eaeaea !important;
}

.noval-btn.novalActive {
    background-color: #b3b3b3;
    border: none;
    color: #fff;
}

.bg-line {
    background: url(../img/line.jpg) center center repeat-y;
}

.rating-btn.active,
.rating-btn.hover {
    text-align: center;
    color: #fff;
    background: #f36164;
    /* background: -moz-linear-gradient(top, #f9a5a5 0%, #ffbcbc 17%, #ff6262 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #f9a5a5), color-stop(17%, #ffbcbc), color-stop(100%, #ff6262));
    background: -webkit-linear-gradient(top, #f9a5a5 0%, #ffbcbc 17%, #ff6262 100%);
    background: -o-linear-gradient(top, #f9a5a5 0%, #ffbcbc 17%, #ff6262 100%);
    background: -ms-linear-gradient(top, #f9a5a5 0%, #ffbcbc 17%, #ff6262 100%);
    background: linear-gradient(to bottom, #f9a5a5 0%, #ffbcbc 17%, #ff6262 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f9a5a5', endColorstr='#ff6262', GradientType=0); */
}

.rating-btn.active+.rating-btn.active,
.rating-btn.hover+.rating-btn.hover {
    background: #ff9900d1;
    /* background: -moz-linear-gradient(top, #f9c7a5 0%, #ffe0c0 17%, #ffa162 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #f9c7a5), color-stop(17%, #ffe0c0), color-stop(100%, #ffa162));
    background: -webkit-linear-gradient(top, #f9c7a5 0%, #ffe0c0 17%, #ffa162 100%);
    background: -o-linear-gradient(top, #f9c7a5 0%, #ffe0c0 17%, #ffa162 100%);
    background: -ms-linear-gradient(top, #f9c7a5 0%, #ffe0c0 17%, #ffa162 100%);
    background: linear-gradient(to bottom, #f9c7a5 0%, #ffe0c0 17%, #ffa162 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f9c7a5', endColorstr='#ffa162', GradientType=0); */
}

.rating-btn.active+.rating-btn.active+.rating-btn.active,
.rating-btn.hover+.rating-btn.hover+.rating-btn.hover {
    background: #ecc728;
    /* background: -moz-linear-gradient(top, #f9e8a5 0%, #ffffc1 17%, #ffe062 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #f9e8a5), color-stop(17%, #ffffc1), color-stop(100%, #ffe062));
    background: -webkit-linear-gradient(top, #f9e8a5 0%, #ffffc1 17%, #ffe062 100%);
    background: -o-linear-gradient(top, #f9e8a5 0%, #ffffc1 17%, #ffe062 100%);
    background: -ms-linear-gradient(top, #f9e8a5 0%, #ffffc1 17%, #ffe062 100%);
    background: linear-gradient(to bottom, #f9e8a5 0%, #ffffc1 17%, #ffe062 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f9e8a5', endColorstr='#ffe062', GradientType=0); */
}

.rating-btn.active+.rating-btn.active+.rating-btn.active+.rating-btn.active,
.rating-btn.hover+.rating-btn.hover+.rating-btn.hover+.rating-btn.hover {
    background: #8cd000c7;
    /* background: -moz-linear-gradient(top, #e8f9a5 0%, #f9fcca 17%, #e0ff62 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #e8f9a5), color-stop(17%, #f9fcca), color-stop(100%, #e0ff62));
    background: -webkit-linear-gradient(top, #e8f9a5 0%, #f9fcca 17%, #e0ff62 100%);
    background: -o-linear-gradient(top, #e8f9a5 0%, #f9fcca 17%, #e0ff62 100%);
    background: -ms-linear-gradient(top, #e8f9a5 0%, #f9fcca 17%, #e0ff62 100%);
    background: linear-gradient(to bottom, #e8f9a5 0%, #f9fcca 17%, #e0ff62 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#e8f9a5', endColorstr='#e0ff62', GradientType=0) */
}

.rating-btn.active+.rating-btn.active+.rating-btn.active+.rating-btn.active+.rating-btn.active,
.rating-btn.hover+.rating-btn.hover+.rating-btn.hover+.rating-btn.hover+.rating-btn.hover {
   background: #07c516;
    /* background: -moz-linear-gradient(top, #c7f9a5 0%, #e3fec6 17%, #a1ff62 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #c7f9a5), color-stop(17%, #e3fec6), color-stop(100%, #a1ff62));
    background: -webkit-linear-gradient(top, #c7f9a5 0%, #e3fec6 17%, #a1ff62 100%);
    background: -o-linear-gradient(top, #c7f9a5 0%, #e3fec6 17%, #a1ff62 100%);
    background: -ms-linear-gradient(top, #c7f9a5 0%, #e3fec6 17%, #a1ff62 100%);
    background: linear-gradient(to bottom, #c7f9a5 0%, #e3fec6 17%, #a1ff62 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#c7f9a5', endColorstr='#a1ff62', GradientType=0); */
}

.table.rating-no {
    margin-bottom: 0;
    width: 100%;
}

.table td {
    vertical-align: middle !important;
}

.noval-btn {
    cursor: pointer;
}
@media screen and (min-width:220px) and (max-width:319px){
	.click-val{
		width: 118px;
	}
	 .strow > td:first-child{
		width:36%;
		font-size: 13px;
	}
}

@media screen and (min-width:1920px) and (max-width:2100px){
	.table {
      width:90%;
      max-width:90%;
  }
	.rating-no td{
		padding: 8px 3px;
		font-size: 17px;
		font-weight: bold;
		
	}
	.table.rating-no>thead>tr>th, .table.rating-no>tbody>tr>th, .table.rating-no>tfoot>tr>th, .table.rating-no>thead>tr>td, .table.rating-no>tbody>tr>td, .table.rating-no>tfoot>tr>td{
		padding: 8px 3px!important;
	}
	 .strow > td:first-child{
		font-size: 20px;
         width: 12%;
	}
	
}
@media screen and (min-width:2401px) and (max-width:2800px){
	.table {
      width:90%;
      max-width:90%;
  }
	.rating-no td{
		padding: 8px 3px;
		font-size: 17px;
		font-weight: bold;
	}
	
	.table.rating-no>thead>tr>th, .table.rating-no>tbody>tr>th, .table.rating-no>tfoot>tr>th, .table.rating-no>thead>tr>td, .table.rating-no>tbody>tr>td, .table.rating-no>tfoot>tr>td{
		padding: 8px 3px!important;
	}
	.click-val + td{
		width: 2px!important;
	}
	.strow > td:first-child{
		font-size: 20px;
         width: 12%;
	}
}
@media all and (min-width:2801px){
	.table {
      width:90%;
      max-width:90%;
  }
	.rating-no td{
		padding: 8px 3px;
		font-size: 17px;
		font-weight: bold;
	}
	
	.table.rating-no>thead>tr>th, .table.rating-no>tbody>tr>th, .table.rating-no>tfoot>tr>th, .table.rating-no>thead>tr>td, .table.rating-no>tbody>tr>td, .table.rating-no>tfoot>tr>td{
		padding: 8px 3px!important;
	}
	.click-val + td{
		width: 2px!important;
	}
	.strow > td:first-child{
		font-size: 20px;
         width: 12%;
	}
}
.header-nav {
    /* display: inline-block; */
    display: none;
    width: 100%;
}
		.back-nav{
			float: right;
			cursor: pointer;
		}
		.back-nav a{
			text-decoration: none;      
			color: #6d5f24;          
		}
		.back-nav{
			display: inline-block;
			border:1px solid #c9ae34;
			color: #705D07;
			border-radius: 3px 3px 3px 3px;
			-webkit-border-radius: 3px 3px 3px 3px;
			-moz-border-radius: 3px 3px 3px 3px;
			font-size: 14px;
			letter-spacing: 0.04em;
			text-transform: uppercase;
			font-family: calibri;
			padding: 10px 20px;
			margin: 10px;
			box-shadow: inset 0 1px 0 0 #fff6ce,inset 0 -1px 0 0 #e3c852,inset 0 0 0 1px #fce88d,0 2px 4px 0 #D4D4D4;
			-moz-box-shadow: inset 0 1px 0 0 #fff6ce,inset 0 -1px 0 0 #e3c852,inset 0 0 0 1px #fce88d,0 2px 4px 0 #D4D4D4;
			-webkit-box-shadow: inset 0 1px 0 0 #fff6ce,inset 0 -1px 0 0 #e3c852,inset 0 0 0 1px #fce88d,0 2px 4px 0 #D4D4D4;
			background-image: linear-gradient(to top, #fce374, #fcdf5b);
			background-color: #fce374;
		}
		.back-nav:hover, .back-nav:active{
			border:1px solid #967d09;
			color: #705D07;
			box-shadow: inset 0 1px 0 0 #fff6ce,inset 0 -1px 0 0 #e3c852,inset 0 0 0 1px #fce88d;
			-moz-box-shadow: inset 0 1px 0 0 #fff6ce,inset 0 -1px 0 0 #e3c852,inset 0 0 0 1px #fce88d;
			-webkit-box-shadow: inset 0 1px 0 0 #fff6ce,inset 0 -1px 0 0 #e3c852,inset 0 0 0 1px #fce88d;
			background-color: #fcdf5b;
		}
	
